#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #3b82f6; /* Tailwind blue-500, bisa diganti sesuai brand */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Optional: Spinner (bisa dimatikan kalau ga mau) */
#nprogress .spinner {
  display: none; /* Matikan spinner, cuma mau loading bar aja */
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #3b82f6;
  border-left-color: #3b82f6;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}